<p-iconField iconPosition="right">
  <p-inputIcon styleClass="pi pi-search"></p-inputIcon>
  <input
    type="text"
    pInputText
    placeholder="Search"
    [(ngModel)]="filterValue"
    (input)="applyFilter()"
    [style]="{
      width: '100%',
      fontSize: '15px',
      borderRadius: '0px',
      border: '0px',
      background: 'transparent'
    }"
  />
</p-iconField>
<p-splitButton
  label="Add Folder"
  (onClick)="globalAddFolder()"
  [model]="sbItems"
  text
  size="small"
  [style]="{
    borderRadius: '0px',
    border: '0px'
  }"
>
</p-splitButton>
<p-tree
  [contextMenu]="cm"
  [value]="folders"
  filterMode="lenient"
  selectionMode="single"
  [(selection)]="selectedFolder"
  (onNodeSelect)="nodeSelect()"
  (onNodeUnselect)="nodeUnselect()"
  [style]="{
    height: '85vh',
    width: '100%',
    border: '0px',
    borderRadius: '0px',
    overflow: 'auto',
    fontSize: '16px',
    fontWeight: 'bold'
  }"
>
</p-tree>
<p-contextMenu #cm [model]="cmItems"></p-contextMenu>

<p-dialog
  [header]="DialogTitle"
  [(visible)]="addFolderDialogVisible"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '50rem', height: '26rem', overflow: 'auto' }"
  [contentStyle]="{ padding: '1.5rem' }"
  [dismissableMask]="false"
  [closable]="false"
  [maximizable]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [resizable]="true"
>
  @if(DialogDescription.length > 0) {
  <p>
    {{ DialogDescription }}
  </p>
  }
  <div style="display: flex; align-items: center; width: 100%; gap: 1rem;">
    <p-floatLabel style="flex: 1;">
      <input
        type="text"
        pInputText
        [(ngModel)]="userAddFolderNameValue"
        style="width: 100%;" 
        [class.ng-invalid]="userAddFolderNameValue === '' || userAddFolderNameValue === undefined"
        [class.ng-dirty]="userAddFolderNameValue === '' || userAddFolderNameValue === undefined"/>
      <label>Folder Name</label>
    </p-floatLabel>
    <div style="display: flex; align-items: center; gap: 0.5rem; white-space: nowrap;">
      <p-checkbox
        [(ngModel)]="isAddRootFolder"
        inputId="rootFolderCheckbox"
        [binary]="true"
        (ngModelChange)="onChangeCheckboxRootFolder()">
      </p-checkbox>
      <label>Root Folder</label>
    </div>
  </div>

  <p-divider></p-divider>

  <p-floatLabel>
    <p-treeSelect
      [placeholder]="'Select parent folder'"
      [(ngModel)]="selectedNodeFolder"
      [options]="folders"
      [containerStyle]="{ width: '100%' }"
      [class.ng-invalid]="selectedNodeFolder === null && !isAddRootFolder || selectedNodeFolder === undefined && !isAddRootFolder"
      [class.ng-dirty]="selectedNodeFolder === null && !isAddRootFolder || selectedNodeFolder === undefined && !isAddRootFolder"
      [virtualScroll]="true" 
      [virtualScrollItemSize]="25" 
      [virtualScrollOptions]="{scrollHeight: '250px'}"
      [filter]="true" 
      [filterInputAutoFocus]="true"
      variant="outlined"
      appendTo="body"
      [disabled]="isAddRootFolder"
      >
    </p-treeSelect>
    <label>
      Parent Folder
  </label>
</p-floatLabel>

<p-divider></p-divider>

<p-floatLabel>
  <p-treeSelect
    [placeholder]="'Select language'"
    [(ngModel)]="selectedNodeLanguage"
    [options]="languagesAsTreeNodes"
    [containerStyle]="{ width: '100%' }"
    [class.ng-invalid]="selectedNodeLanguage === null || selectedNodeLanguage === undefined"
    [class.ng-dirty]="selectedNodeLanguage === null || selectedNodeLanguage === undefined"
    [virtualScroll]="true" 
    [virtualScrollItemSize]="35" 
    [virtualScrollOptions]="{scrollHeight: '250px'}"
    [filter]="true" 
    [filterInputAutoFocus]="true"
    variant="outlined"
    appendTo="body"
  >
  </p-treeSelect>
  <label>
    Select default language
  </label>
</p-floatLabel>

  <p-footer>
    <p-button
      label="Cancel"
      icon="pi pi-times"
      class="p-button-text"
      (click)="onCancleAddFolder(true)"
    ></p-button>
    <p-button
      label="Save"
      icon="pi pi-check"
      class="p-button-text"
      (click)="onSaveGlobalAddFolder()"
    ></p-button>
  </p-footer>
</p-dialog>

<p-toast position="bottom-right" key="br"></p-toast>
