<p-tabMenu [model]="tmItems" [(activeItem)]="activeTabItem"> </p-tabMenu>
<div [hidden]="this.activeTabItem !== this.tmItems[0]">
  <p-tree
    [contextMenu]="cm"
    [value]="folders"
    filterMode="lenient"
    selectionMode="single"
    [(selection)]="selectedFolder"
    (onNodeSelect)="nodeSelect()"
    (onNodeUnselect)="nodeUnselect()"
    [virtualScroll]="true"
    [virtualScrollItemSize]="48"
    [scrollHeight]="windowValues.height - 170 + 'px'"
    [virtualScrollOptions]="{ scrollHeight: windowValues.height - 170 + 'px' }"
    [loading]="isLoading"
    [loadingIcon]="'pi pi-spin pi-spinner'"
    [loadingMode]="'icon'"
    [emptyMessage]="'NO FOLDERS'"
    (onNodeContextMenuSelect)="nodeContextMenuSelect($event)"
    [layout]="'vertical'"
    [style]="{
      height: '{{this.windowValues.height}}px',
      overflowY: 'auto',
      overflowX: 'auto',
      flex: '1 1 auto',
      width: '100%',
      border: '0px',
      borderRadius: '0px',
      overflow: 'auto',
      fontSize: '14px',
      fontWeight: 'bold'
    }"
    [style.height]="windowValues.height + 'px'"
  >
  </p-tree>
</div>

<div [hidden]="this.activeTabItem !== this.tmItems[1]">
  <p-tree
    [contextMenu]="cm"
    [value]="pinnedFolders"
    filterMode="lenient"
    selectionMode="single"
    [(selection)]="selectedFolder"
    (onNodeSelect)="nodeSelect()"
    (onNodeUnselect)="nodeUnselect()"
    [virtualScroll]="true"
    [virtualScrollItemSize]="48"
    [scrollHeight]="windowValues.height - 170 + 'px'"
    [virtualScrollOptions]="{ scrollHeight: windowValues.height - 170 + 'px' }"
    [loading]="isLoading"
    [loadingIcon]="'pi pi-spin pi-spinner'"
    [loadingMode]="'icon'"
    [emptyMessage]="'NO PINNED FOLDERS'"
    (onNodeContextMenuSelect)="nodeContextMenuSelect($event)"
    [layout]="'vertical'"
    [style]="{
      height: '{{this.windowValues.height - 168}}px',
      overflowY: 'auto',
      overflowX: 'auto',
      flex: '1 1 auto',
      width: '100%',
      border: '0px',
      borderRadius: '0px',
      overflow: 'auto',
      fontSize: '14px',
      fontWeight: 'bold'
    }"
  >
  </p-tree>
</div>

<p-contextMenu #cm [model]="cmItems"> </p-contextMenu>

<p-dialog
  [header]="DialogTitle"
  [(visible)]="addFolderDialogVisible"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '50rem', height: '26rem', overflow: 'auto' }"
  [contentStyle]="{ padding: '1.5rem' }"
  [dismissableMask]="false"
  [closable]="false"
  [maximizable]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [resizable]="true"
>
  @if(DialogDescription.length > 0) {
  <p>
    {{ DialogDescription }}
  </p>
  }
  <div style="display: flex; align-items: center; width: 100%; gap: 1rem">
    <p-floatLabel style="flex: 1">
      <input
        type="text"
        pInputText
        [(ngModel)]="userFolderNameValue"
        style="width: 100%"
        [class.ng-invalid]="
          userFolderNameValue === '' || userFolderNameValue === undefined
        "
        [class.ng-dirty]="
          userFolderNameValue === '' || userFolderNameValue === undefined
        "
      />
      <label>Folder Name</label>
    </p-floatLabel>
    <div
      style="
        display: flex;
        align-items: center;
        gap: 0.5rem;
        white-space: nowrap;
      "
    >
      <p-checkbox
        [(ngModel)]="isAddRootFolder"
        inputId="rootFolderCheckbox"
        [binary]="true"
        (ngModelChange)="onChangeCheckboxRootFolder()"
      >
      </p-checkbox>
      <label>Root Folder</label>
    </div>
  </div>

  <p-divider></p-divider>

  <p-floatLabel>
    <p-treeSelect
      [placeholder]="'Select parent folder'"
      [(ngModel)]="selectedNodeFolder"
      [options]="treeSelect"
      [containerStyle]="{ width: '100%' }"
      [class.ng-invalid]="
        (selectedNodeFolder === null && !isAddRootFolder) ||
        (selectedNodeFolder === undefined && !isAddRootFolder)
      "
      [class.ng-dirty]="
        (selectedNodeFolder === null && !isAddRootFolder) ||
        (selectedNodeFolder === undefined && !isAddRootFolder)
      "
      [virtualScroll]="false"
      [virtualScrollItemSize]="48"
      [virtualScrollOptions]="{ scrollHeight: '250px' }"
      [filter]="true"
      [filterInputAutoFocus]="true"
      variant="outlined"
      appendTo="body"
      [disabled]="isAddRootFolder"
      [scrollHeight]="'250px'"
    >
    </p-treeSelect>
    <label> Parent Folder </label>
  </p-floatLabel>

  <p-divider></p-divider>

  <p-floatLabel>
    <p-treeSelect
      [placeholder]="'Select language'"
      [(ngModel)]="selectedNodeLanguage"
      [options]="languagesAsTreeNodes"
      [containerStyle]="{ width: '100%' }"
      [class.ng-invalid]="
        selectedNodeLanguage === null || selectedNodeLanguage === undefined
      "
      [class.ng-dirty]="
        selectedNodeLanguage === null || selectedNodeLanguage === undefined
      "
      [virtualScroll]="false"
      [virtualScrollItemSize]="48"
      [virtualScrollOptions]="{ scrollHeight: '250px' }"
      [filter]="true"
      [filterInputAutoFocus]="true"
      variant="outlined"
      appendTo="body"
      [scrollHeight]="'250px'"
    >
    </p-treeSelect>
    <label> Select default language </label>
  </p-floatLabel>

  <p-footer>
    <p-button
      label="Cancel"
      class="p-button-text"
      [outlined]="true"
      (click)="onCancleAddFolder(true)"
    ></p-button>
    <p-button
      label="Save"
      class="p-button-text"
      (click)="onSaveGlobalAddFolder()"
    ></p-button>
  </p-footer>
</p-dialog>

<p-dialog
  [header]="DialogTitle"
  [(visible)]="changeFolderDialogVisible"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '50rem', height: '26rem', overflow: 'auto' }"
  [contentStyle]="{ padding: '1.5rem' }"
  [dismissableMask]="false"
  [closable]="false"
  [maximizable]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [resizable]="true"
>
  @if(DialogDescription.length > 0) {
  <p>
    {{ DialogDescription }}
  </p>
  }
  <p-floatLabel>
    <input
      type="text"
      pInputText
      [(ngModel)]="userFolderNameValue"
      style="width: 100%"
      [class.ng-invalid]="
        userFolderNameValue === '' || userFolderNameValue === undefined
      "
      [class.ng-dirty]="
        userFolderNameValue === '' || userFolderNameValue === undefined
      "
    />
    <label>Folder Name</label>
  </p-floatLabel>

  <p-divider></p-divider>

  <p-floatLabel>
    <p-treeSelect
      [placeholder]="'Select language'"
      [(ngModel)]="selectedNodeLanguage"
      [options]="languagesAsTreeNodes"
      [containerStyle]="{ width: '100%' }"
      [class.ng-invalid]="
        selectedNodeLanguage === null || selectedNodeLanguage === undefined
      "
      [class.ng-dirty]="
        selectedNodeLanguage === null || selectedNodeLanguage === undefined
      "
      [virtualScroll]="false"
      [virtualScrollItemSize]="48"
      [virtualScrollOptions]="{ scrollHeight: '250px' }"
      [filter]="true"
      [filterInputAutoFocus]="true"
      variant="outlined"
      appendTo="body"
      [scrollHeight]="'250px'"
    >
    </p-treeSelect>
    <label> Select default language </label>
  </p-floatLabel>

  <p-footer>
    <p-button
      label="Cancel"
      class="p-button-text"
      [outlined]="true"
      (click)="onChangeFolderCancel(true)"
    ></p-button>
    <p-button
      label="Save"
      class="p-button-text"
      (click)="onChangeFolderSave()"
    ></p-button>
  </p-footer>
</p-dialog>

<p-dialog
  [header]="DialogTitle"
  [(visible)]="moveFolderDialog"
  [modal]="true"
  [draggable]="false"
  [style]="{ width: '50rem', height: '26rem', overflow: 'auto' }"
  [contentStyle]="{ padding: '1.5rem' }"
  [dismissableMask]="false"
  [closable]="false"
  [maximizable]="true"
  [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
  [resizable]="true"
>
  @if(DialogDescription.length > 0) {
  <p>
    {{ DialogDescription }}
  </p>
  }

  <p-floatLabel>
    <p-treeSelect
      [placeholder]="'Select Folders'"
      [(ngModel)]="selectedFoldersToMove"
      [options]="multipleTreeSelect"
      [containerStyle]="{ width: '100%' }"
      [class.ng-invalid]="
        selectedFoldersToMove === null ||
        selectedFoldersToMove === undefined ||
        selectedFoldersToMove.length === 0
      "
      [class.ng-dirty]="
        selectedFoldersToMove === null ||
        selectedFoldersToMove === undefined ||
        selectedFoldersToMove.length === 0
      "
      [virtualScroll]="false"
      [virtualScrollItemSize]="48"
      [virtualScrollOptions]="{ scrollHeight: '250px' }"
      [filter]="false"
      [filterInputAutoFocus]="true"
      variant="outlined"
      appendTo="body"
      selectionMode="multiple"
      display="chip"
      [scrollHeight]="'250px'"
    >
    </p-treeSelect>
    <label> Where </label>
  </p-floatLabel>

  <p-divider></p-divider>

  <div style="display: flex; align-items: center; width: 100%; gap: 1rem">
    <div style="flex: 1">
      <p-floatLabel>
        <p-treeSelect
          [placeholder]="'Select Folders'"
          [(ngModel)]="destinationFolder"
          [options]="multipleTreeSelect"
          [containerStyle]="{ width: '100%' }"
          [class.ng-invalid]="
            destinationFolder === null || destinationFolder === undefined
          "
          [class.ng-dirty]="
            destinationFolder === null || destinationFolder === undefined
          "
          [virtualScroll]="false"
          [virtualScrollItemSize]="48"
          [virtualScrollOptions]="{ scrollHeight: '250px' }"
          [filter]="true"
          [filterInputAutoFocus]="true"
          variant="outlined"
          appendTo="body"
          [disabled]="isMoveToRoot"
          [scrollHeight]="'250px'"
        >
        </p-treeSelect>
        <label>Into</label>
      </p-floatLabel>
    </div>
    <div
      style="
        display: flex;
        align-items: center;
        gap: 0.5rem;
        white-space: nowrap;
      "
    >
      <p-checkbox
        [(ngModel)]="isMoveToRoot"
        inputId="rootMoveFolderCheckbox"
        [binary]="true"
        (ngModelChange)="onChangeMoveAsCheckboxRootFolder()"
      >
      </p-checkbox>
      <label>Root Folder</label>
    </div>
  </div>

  <p-footer>
    <p-button
      label="Cancel"
      class="p-button-text"
      [outlined]="true"
      (click)="onCancelMoveFolders(true)"
    ></p-button>
    <p-button
      label="Save"
      class="p-button-text"
      (click)="onMoveFolders()"
    ></p-button>
  </p-footer>
</p-dialog>

<p-toast position="bottom-right" key="br"></p-toast>

<p-confirmDialog />
