@import 'primeng/resources/themes/saga-blue/theme.css';
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "primeng/resources/primeng.min.css";


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

app-root, app-mainpanel, .p-tabview, .p-tabview-panels, .p-tabview-panel {
  height: 100%;
}
  